$main-color: #000000;
$main-color-alt: #1b1b25;
$accent-color: #007cc8;
$bg-color: #ffffff;

$bg-dark: linear-gradient(to right top, #007cc8, #2e609b, #324771, #2a2f49, #1b1b25);

$bg-light: linear-gradient(to right top, #007cc8, #7598d6, #acb8e3, #d9daf0, #ffffff);

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$radius: 1rem;